body {
    margin: 0;
    background-color: black;
}

#body {
    background-image: url('wi-day-cloudy-windy.svg');
    padding: 0 10vh 0;
    background-color: antiquewhite;
    /* background-color: black; */
}
#left, #weather-right {
    display: flex;
    flex-direction: column;
}

#weather-right {
    text-align: end;
    gap: 20px;
}

#lat-lon, #temp, #location {
    display: flex;
    gap: 20px;
}

.wi {
    color: red;
}